# Игнорировать все __pycache__ папки и .pyc файлы
__pycache__/
*.pyc

# Игнорировать настройки IDE
.idea/
.vscode/

# Игнорировать файлы виртуального окружения Python
venv/
*.venv
*.virtualenv

# Игнорировать файлы с логами и другой временной информацией
*.log

# Игнорировать файлы с резервными копиями
*.bak

# Игнорировать файлы с настройками окружения и секретами
.env

# Игнорировать файлы, содержащие сгенерированные данные
*.txt
